{% extends 'base_layout.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="sidebar">
    <div class="home-pic">
    <h1><a href="{% url 'movies:list' %}"><img src="{% static 'home.png' %}" style="width:30px; height:30px;"></a></h1>
    </div>
</div>
<h1 style="text-align:center; color:#907878;">-Signup-</h1>
<form class="site-form" action="{% url 'accounts:signup' %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Signup">
</form>

{% endblock %}
