{% extends 'base_layout.html' %}
{% block content %}
<nav>
  <ul>
        <li><form class="login-link" action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Login">
        </form></li>
        <li><form class="signup-link" action="{% url 'accounts:signup' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Signup">
        </form></li>
  </ul></nav>
<div class="movies">
    {% for movie in movies %}
    <div class="movie">
        <h2><a href="{% url 'movies:detail' slug=movie.slug %}"><img class="pic" src="{{ movie.thumb.url }}" style="width:200px; height:300px;"></a></h2>
    </div>
    {% endfor %}
</div>
{% endblock %}


